@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  /* background: #a595ff; */
  /* background-image: url("pulau-padar.jpg"); */
  padding: 0;
  margin: 0;
  /* border: 2px solid black; */
}

::selection{
  color: #fff;
  background: #664AFF;
}
.bg-tambah{
  top: 0; 
  margin: 0% 0%; 
  width: 100%; 
  height: 5rem; 
  background-color: rgb(127, 127, 250); 
  position: absolute;
}

.wrapper{
  max-width: 450px;
  margin: 50px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
.checked {
  color: orange;
}

.inner {
  height: 15rem;
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.2);
}

#myBtnContainer {
  text-align: center;
  margin-bottom: 50px;
}

.btn2 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #baf7ff;
  cursor: pointer;
  color: rgb(124, 124, 124);
}

.btn2:hover {
  background-color: #a0f4ff;
}

.btn2.active {
  background-color: #30e7ff;
  /* color: rgb(182, 133, 133); */
  color: rgb(0, 0, 0);
}
.filterDiv {
  display: none;
}

.show {
  display: block;
}

.container {
  overflow: hidden;
}
#isi-menu {
  list-style: none;
}
.card-img-top {
  width: 125%;
}
.deskripsi {
  overflow-y: scroll; 
  scrollbar-width: none; 
  height: 120px; 
  margin-top: 10px;
}